pom.xml
.lsp.cache/
.cpcache
.calva/
.nrepl-port
.DS_Store
.git
database-data
.shadow-cljs
node_modules
public/js
.clj-kondo*
ui/resources/public/cljs-runtime
ui/resources/public/release
ui/resources/public/main.js
/ui/resources/public/main.js
ui/resources/public/manifest.edn
ui/resources/public/js
/ui/resources/public/js
target
static/js
static/release
/static/js
/static/release
